@model EPOv2.ViewModels.OrderViewModel
@{
    ViewBag.Title = "Reassign Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    function searchOrder() {
       

        var tNumber = $("#TempOrder").val();
        if (tNumber !== "") {
            $('#EPOloading1').removeClass('hidden');
            $.ajax({
                type: 'GET',
                url: '@Url.Action("FetchOrderForReassign")',
            cache: false,
            data: {
                tempNumber: tNumber
            },
            error: function (xhr, status, error) {
                $(".alert").html(xhr.responseText);
                $('#div-reassignOrderForm').empty();
                $('#EPOloading1').addClass('hidden');
            },
            success: function (result) {
                $('#EPOloading1').addClass('hidden');
                $('#div-reassignOrderForm').empty();
                $('#div-reassignOrderForm').html(result);

            }
        });}
    }
        
        function submitForm() {
            bootbox.confirm("Are you sure?", function (result) {
                if (result === true) {
                    var $form = $('form[id="ReassignOrder"]');
                  $.ajax({
                        type: 'POST',
                        url: '@Url.Action("ReassignOrder")',
                        data: $form.serialize(),
                        cache: false,
                        error: function (xhr, status, error) {
                            $('#ErrorAlert').show(400).fadeIn().delay(2500).hide(600).fadeOut();
                        },
                        success: function (result) {
                            $('#SaveAlert').show(500).fadeIn().delay(1000).hide(500).fadeOut();
                        }
                    });
                }
            });
        }




</script>

<br />
<div class="row">
    <div class="col-md-12">
        <div id="div-reassignOrderForm">
            <div class="col-md-6">
                <div class="panel panel-info ">
                    <div class="panel-heading">
                        <span class="panel-title">Re-assign Order</span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">Temp Order #</div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => Model.TempOrder, null, new { @class = "form-control input-sm input", @onkeypress = "return isNumberKey(event)" })
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-default btn-sm" onclick="searchOrder()">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div id="SaveAlert" class="alert alert-success" style="display: none;">Saved Successfully</div>
    </div>
    <div class="col-md-12">
        <div id="ErrorAlert" class="alert alert-danger" style="display: none;">Error! </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center hidden" id="EPOloading1">
            <div class="spinner spinner-info"></div>
        </div>
    </div>
    </div>
