@*@model DomainModel.Entities.PurchaseOrderContext
@{
    ViewBag.Title = "Staging Reports";
}

<h2>Staging Reports</h2>

<li>@Html.ActionLink("Level report", "LevelReport", "Staging")</li>
<li>@Html.ActionLink("Employee Level report", "EmployeeLevelReport", "Staging")</li>
<li>@Html.ActionLink("Cost Centre Owner", "CCOwnerReport", "Staging")</li>
<li>@Html.ActionLink("CC/Account", "CCAccountReport", "Staging")</li>*@