
@{
    ViewBag.Title = "Deleted Capex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bs-callout bs-callout-danger bs-callout-notification">
        <span class="glyphicon glyphicon-info-sign"></span>
        Oops, that voucher was deleted by Author.
 </div>

